body {
    border: 1px solid rgb(255, 96, 96);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    }
    
    .card{
    background-color: #000000d0;
    color: #fff;
    padding: 2rem;
    border-radius: 30px;
    }
    
    .input-field {
        border-radius: 20px;
        padding: 0.5rem 1rem;
    }